# sekrete & mjedis
.env
.env.*
!.env.example
*.pem
*.p8
*.p12

# terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json

# build
node_modules/
dist/
build/
.next/
bin/
*.exe

# ide / os
.idea/
.vscode/
.DS_Store
Thumbs.db

# flutter / dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/*.iml
apps/*/.gradle/
apps/*/android/.gradle/
apps/*/android/local.properties
apps/*/ios/Pods/
apps/*/ios/Flutter/Flutter.framework
apps/*/ios/Flutter/ephemeral/
apps/*/macos/Flutter/ephemeral/
apps/*/windows/flutter/ephemeral/
apps/*/linux/flutter/ephemeral/
apps/dart-defines*.json
!apps/dart-defines.example.json
apps/keys/
